// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

textarea.form-control {
  height: 250px;
}

.panel-heading{
  padding: 10px 30px;
  position: relative;
  .panel-heading-buttons{
    position: absolute;
    top: 40px;
    right: 35px;
  }
}
.panel-body {
  padding: 30px;
}

.post {
  position: relative;
  .p-title{
    margin: 22px 0 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    h3{
      margin: 0;
    }
  }
  .p-body {
    .pb-image {
      display: inline-block;
      img {
      }
      width: 100%;
      @media (min-width: 720px) {
        width: 50%;
      }
    }
    .pb-text {
      vertical-align: top;
      display: inline-block;
      text-align: justify;
      width: 100%;
      padding-left: 0;
      margin-top: 20px;
      @media (min-width: 720px) {
        width: calc(50% - 10px);
        padding-left: 10px;
        margin-top: 0;
      }
    }
  }
}

.pager {
  text-align: center;
}